<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="BaseDao" class="com.iassistent.server.util.dao.BaseDao" abstract="true" >
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="accountDao" class="com.iassistent.server.user.dao.AccountDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>